@font-face {
    font-family: "Tajawal";
    src: url("/font/Tajawal-Medium.ttf")
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-color: hsl(0, 100%, 99%); */
} 

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Tajawal" , sans-serif;
} 



a{
    text-decoration: none ;
}
li{
    list-style: none ;
}
h3 {
    font-size: 44px;
    line-height: 32px;
    color: #121212;
    font-weight: 600;
}
h6 {
    font-size: 20px;
    line-height: 32px;

    font-weight: normal;
}
h1 {
    font-size: 50px;
    line-height: 32px;

    font-weight: normal;
}

.main-btn {

    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0px 32px;
    font-size: 16px;
    line-height: 48px;
    color: #e68c06;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-out 0s;
    z-index: 5;

}
/*  nav = */
.nav {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1.5rem;
    background: transparent;
    transition: all 0.5s ease;
    z-index: 1000000;
    /* background-color: hsl(0, 100%, 99%); */
}
.nav .navbar-toggler{
    display: none;
    border: none;
    outline: none;
    
}
.nav .navbar-toggler .toggler-icon{
width: 27px;
height: 3px;
background-color: #121212;
margin: 5px 0;
position: relative;
display: block;
transition: all 0.3s ease-in-out 0s;

}
.nav button {
    
    font-family: "Tajawal" , sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;

}
.nav button {
    padding: 9px 25px;
    background-color: #e68c06;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
} 

.nav.scrolled{
    text-align: center;
    align-items: center;
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 5px 5px 10px #c1c1c1 ;
}
.logo {
    margin-right: 0;
    cursor: pointer;
}

.nav .menu-bar .menu-items{

    display: flex;
    align-items: center;
    margin-left: auto; /* Pushes the menu to the left */
    flex-grow: 0; /* This will prevent the menu items from growing to fill the available space */
}
.nav .menu-bar .menu-items  li{
  
   
    margin: 0 15px;
   
}
.nav .menu-bar .menu-items  a{

    color: black;
    font-size: 18px;
    font-weight: 600px;

}
.nav .menu-bar .menu-items  li a{

    color: #000;
    font-size: 18px;
    font-weight: 600px;

}

.nav .menu-bar .menu-items  li a:hover{

    color: #e68c06;


}


.back{
    background-image: url(/imgs/back.jpg);
    width: 100%;
    height:120vh ;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.back .overlay{
    background-image: linear-gradient(180deg, rgb(231, 230, 227) 0%, rgba(219,49,6,0) 100%);
    width: 100%;
    height: 100%;
}
.back .hero-shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.back .hero-shape img {
    width: 100%;
    display: block;
}
.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.hero-text h6 {
    color: rgb(255, 145, 0);
}
.hero-text .header-btn {
    margin-top: 22px;
}
.hero-text .header-btn li {
    display: inline-block;
    margin: 10px 10px 0px 0px ;
}
.hero-text .header-btn li a.main-btn{
    border-radius: 50px;
    overflow: hidden;
    background-color: #ffffff;
    border: 0;
    line-height: 50px;
    box-shadow: 0 3px 6px 0 rgb(0, 0, 0 , 15);

}
.hero-text .header-btn li a.main-btn i{

    margin-left: 5px;
    color: #ffffff;

}
.hero-text .header-btn .btn-one{

    color: #ffffff;

}
.hero-text .header-btn .btn-one::before{

    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right , #f87428 ,#ffa602);
    z-index: -1;
    transition: all 0.3s ease;
    background-position: right center;

}
.hero-text .header-btn .btn-one:hover::before{


    background-image: linear-gradient(to left , #f87428 ,#ffa602);
    background-position: right center;

}
.hero-text .header-btn .btn-tow:hover::before{



    box-shadow: 0 3px 25 px 0 rgb(0, 0, 0 , 15);

}

/* Services */
#warpper{
    margin: 5rem 7rem 10rem 7rem;
}
.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom:10rem ;
}
/* .service h6{
    margin-bottom: 6rem;
} */
.service .service-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.service .service-content .box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.service .service-content .box .box-one{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.service .service-content .box .box-one .services{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 2rem;
}
.service .service-content .box .box-one .services i{
    font-size: 3rem;
    margin-bottom: 10px;
    color: #e68c06;
}
.service .service-content .box .box-one .services .service-content{
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}
.service .service-content .service-img{
    width: 40%;
}
.service .service-content .service-img img{
    width: 100%;
}

/*  Pricing */
.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom:10rem ;
}
.pricing h6{
    text-align: center;
    margin-bottom: 6rem;
}
.pricing .table {
   
    display: grid;
    grid-template-columns: repeat(auto-fit ,minmax(400px ,1fr));
    text-align: center;
    width: 100%;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}
.pricing .basic{
    
    margin:  auto ;
    width: 355px;
    height: 100%;
    border: 1px solid #e68c06;
    border-radius: 20px;
}
.pricing .basic h3 {
    text-align: center;
    font-weight: 300;
    padding: 40px 0;
    background-color:#ecf0f1;
    transition: 0.6s;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    clip-path: polygon(0 0 , 100% 0, 100% 90% , 0 100%);
}
.pricing .basic:hover h3{
    background-image: linear-gradient(to left , #f87428 ,#ffa602);
    color: #edf0f1;
}
.pricing .option h3{
    background-image: linear-gradient(to left , #f87428 ,#ffa602);
    clip-path: polygon(0 0 , 100% 0, 100% 90% , 0 100%);

    color: #edf0f1;
}
.pricing .basic .price {
    display: block;
    text-align: center;
    padding: 15px 0;
}
.pricing .basic .price .sing {
    display: inline-block;
    font-size: 28px;
    font-weight: 400;
    vertical-align: middle;
}
.pricing .basic .price .currency{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}
.pricing .basic .price .cent{
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    vertical-align: bottom;
    
}
.pricing .basic .price .month {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}
.pricing .basic ul li {
    border-bottom: 1px solid #ccc;
    padding: 18px 0;
    border-top: 1px solid #ccc;
    color: #7f8c8d;
}
.pricing .basic ul li i{
    padding-right: 5px;
    color: #e68c06;

}
.pricing .header-btn {
    margin: 2rem auto;
    width: 170px ;
}
.pricing .header-btn a{
    font-weight: normal;
    font-size: 18px;
    border-radius: 50px;
    outline: medium none;
    border: 1px solid #ffd900;
    color: #1d1d1d;
    
}
.pricing  .basic:hover .header-btn a{
    background-image: linear-gradient(to left , #f87428 ,#ffa602);
    border: 1px solid #ffd900; 
    color: #edf0f1;
    
}
.pricing .option .header-btn a{
    background-image: linear-gradient(to left , #f87428 ,#ffa602);
    border: 1px solid #ffd900; 
    color: #edf0f1;
}


/* About Us */
.about-us {
    margin-bottom: 11rem;

    background-color: #ffffff;
    padding: 3rem 0;
  }
  
  .about-main {
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-text {
    width: 70%;
    padding-right: 2rem;
    text-align: right;
  }
  
  .about-text h1 {
    font-size: 42px;
    color: #333;
    margin-bottom: 15px;
  }
  
  .about-text h5 {
    font-size: 30px;
    color: #e68c06;
    margin-bottom: 25px;
  }
  
  .about-text p {
    font-size: 20px;
    color: #777;
    margin-bottom: 30px;
    line-height: 1.6;
  }
  
  .about-us button {
    background-color: #e68c06;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .about-us button:hover {
    background-color: #f87428;
  }
  
  .about-image img {
    max-width: 100%;
    height: auto;
  }
  


/* Our Team  */

.section-header {
    text-align: center;
    font-size: 44px;
    margin-bottom: 30px;
    color: #2e282a;
}
.team-heading {
    text-align: center;
    width: 100%;
    margin-bottom: 2rem;
}
.row {
    padding: 3rem 0;
        margin-bottom: 15rem;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.our-team {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
    padding: 20px 15px 30px;
    width: 220px;
    margin: 0 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s, transform 0.3s;
}


.our-team .pic {
    margin: 0 auto;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    transition: all 0.5s ease 0s;
}
.our-team:hover .pic{
    background: #e68c06;
    border-radius: 50%;
}
.our-team .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.our-team .title {
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: #2e282a;
    text-transform: uppercase;
    margin: 0 0 7px 0;
}

.our-team .post {
    display: block;
    font-size: 15px;
    color: #e68c06;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.our-team .social {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-team .social li {
    display: inline-block;
    margin-right: 5px;
}

.our-team .social li a {
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    font-size: 15px;
    color: #e68c06;
    border: 1px solid #e68c06;
    transition: all 0.5s ease 0s;
}

.our-team:hover .social li a {
    background: #e68c06;
    color: #fff;
}

@media only screen and (max-width: 990px){
    .our-team{ margin-bottom: 30px; }
}



/* CTA  */
.callToAct {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #f87428), url('/imgs/contact.jpg');
    min-height: 500px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin-bottom:10rem ;
}
.callToAct .parallax{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.callToAct .parallax h3 , .callToAct .parallax p{

    color: white;
}
.callToAct .parallax p{
    font-size: 18px;
    padding:  20px 0;
}
.callToAct .parallax .call-news{
    background-color: #fff;
    max-width: 450px;
    margin: auto;
    border-radius: 50px;
    padding: 12px 0 12px 15px;
    position: relative;
    text-align: center;
}
 .fa-envelope:before {
    content: "\f0e0";
    padding-right: 15px;
} 
.callToAct .parallax .call-news i{
    color: #e68c06;

    padding-left: 15px;
    font-size: 18px;
}
.callToAct .parallax .call-news input {
    border: none;
    outline: none;
    direction: ltr; /* Set text direction to left-to-right */
    text-align: left; /* Align text to the left */

    font-size: 18px;

}


.callToAct .parallax .call-news button{
    background-image: linear-gradient(to left , #f87428 ,#ffa602);
    border: none;
    outline: none;
    color: #fff;
    padding: 15px 20px;
    cursor: pointer;
    margin-left: 20px;

}
/* Contact */
.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
.contact h3{
    margin-bottom: 1rem;
}
.contact h6{
    margin-bottom: 3rem;
}
.contact .form {
    width: 70%;
    
}
.contact .form  .first-row , .contact .form .secend-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;

}
.contact .form  .first-row input, .contact .form .secend-row input{
    width: 47%;
    height: 55px;
    border: 1px solid #cbced1;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;

}
.contact .form textarea{
    width: 100%;
    border: 1px solid #cbced1;
    resize: none;
    border-radius: 5px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
    font-family: "Poppins", sans-serif;
    padding-top: 15px;
}
.contact .form .header-btn {
    margin: 2rem auto;
    width: 170px;
}
.contact .form .header-btn a {
    background-image: linear-gradient(to left , #f87428 ,#ffa602);
    border:none; 
    color: #edf0f1;
    font-size: 18px;
    font-weight: normal;
    outline: none;

}

/* Footer  */
footer{
    background-color: #F4F6F7;
    padding: 7rem;
}
footer .row-one{
    display: flex;
    flex-direction: row;
    justify-self: flex-start;
    align-items: center;

}
footer .row-one ul{
    display: flex;
    flex-direction: row;
    justify-self: flex-end;
}
footer .row-one a{
    padding-right: 20px;
    font-size: 25px;
    color: #6c6c6c;
}
footer .secend-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}
footer .secend-row h6 {
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 20px;

}
footer .secend-row li {
    padding-bottom: 12px;
}
footer .secend-row li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #121212;

}
footer .secend-row .first-row:nth-child(4){
    max-width: 300px;

}
footer .secend-row .newsletter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 5px;

}
footer .secend-row .newsletter input{
    width: 100%;
    height: 44px;
    border-radius: 50px;
    padding: 0 24px;
    border: 0;
    background-color: rgba(66, 66, 66, 0.12);
    font-weight: 500;
    outline: none;
}
footer .secend-row .newsletter input::placeholder{
    opacity: 1;
    color: #ffffff;
}
footer .secend-row .newsletter button {
    position: absolute;
    top: 0;
    left: 0; /* Adjusted to be on the left */
    width: 44px;
    height: 44px;
    border-top-left-radius: 50px; /* Adjusted to have left-rounded border */
    border-bottom-left-radius: 50px; /* Adjusted to have left-rounded border */
    border: 0;
    font-size: 20px;
    color: #ffffff;
    background-color: none; /* If not needed, you can remove this line */
    cursor: pointer;
}
footer .secend-row .text{
    margin-top: 16px;
}

.copyright {
    background-color: #e68c06;
    padding: 23px 0;

}
.copyright p{
    text-align: center;
    color: #fff;
}
.copyright p a{
    text-align: center;
    color: #424242;
}



@media only screen and (max-width: 946px){
    
    .nav{
        padding: 2px;

    }
    .nav .cta {
        padding-left: 10px;
    }
    .hero-text h3{
        font-size: 40px;
    }
    .about-main img {
        height: 400px;
    }
    .callToAct .parallax h3 {
        font-size: 35px;
    }
    .callToAct .parallax .call-news{
       width: 500px;
    }
    
}
@media only screen and (max-width: 774px){
        /*  nav = */
    .nav {
        padding: 0.7rem 1rem;
    }
    .nav .navbar-toggler{
        display: block;
        position: absolute;
        top: 26px;
        left:  16px;
        z-index: 1000000;
    }
    .nav .menu-bar{
        position: fixed;
        top: 55px;
        width: 300px;
        left: -360px;
        height: 100vh;
        background-color: rgba(256, 256, 256, 0.9);
        transition: all 0.6s ease ;

    }

    .nav .menu-bar .menu-items{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify ;
        padding: 40px 0;
    }

    .nav .menu-bar .menu-items  li{

        margin:2rem 30px;
    }
    .nav button {
        display: none;
    }
    .nav a.icon {
        display: block;
        position: absolute;
        right: 750px;
        top: 20px;
      }
      

}
@media only screen and (max-width: 541px){
    
}